.container-event-show {
  margin: 10px 0px 10px 0px;
}

.card-grid {
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid red;
}

.image-class {
}

.image-class img {
  width: 100%;
  border-radius: 10px;
}

.event-descriptions {
  text-align: left;
  background-color: antiquewhite;
}
