<div class="chatroom">
  <h2>Event Chat</h2>
  <div class="chatroom-container"
    data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/messages", message: message %>
  <% end %>
  </div>
  <%= render "messages/new", chatroom: @chatroom %>
</div>
