<h2>Notifications</h2>
<% current_user.notifications.order(created_at: :desc).limit(20).each do |notification| %>
  <div class="notification">
    <% if notification.user.photo.attached? %>
      <%= link_to image_tag( url_for(notification.user.photo),class: "avatar") %>
    <% else %>
      <%= link_to image_tag("default_avatar.jpg", class: "avatar" ) %>
    <% end %>
    <div class="notification-content">
      <% if notification.read == false %>
        <i class="fa-solid fa-circle" style="color: #EE9C22;"></i>
      <% end %>
        <p><small><%= notification.created_at.strftime("%e %h %H:%M") %></small></p>
        <p><%= link_to notification.content, dashboard_path(notification) %></p>
    </div>
    <div class="notification-actions">
      <a href="#"><i class="fa-solid fa-envelope-open-text fa-2xl"></i></a>
    </div>
  </div>
<% end %>
