.container-accounts {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.attending-section, .hosting-section {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #0B8D93;
  color: white;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-event-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.attending-accepted, .hosting-events {
  background-color: #ee9c22;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
}

.attending-pending {
  background-color: #ee9c22;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h6 {
    color: white;
    margin: 0;
    opacity: 1;
    font-weight: bolder;
  }
}

.hosting-events-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h6 {
    margin: 0;
  }
}

.hosting-events-title-col {
  flex-direction: column;
  align-items: flex-start;
}

#no-requests {
  text-align: right;
}













.section {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  background: #0B8D93;
  color: white;
  border-radius: 5px;
  text-align: center;
}

/* Style for subsections */
.subsection {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.notifications {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Style for notification items */
.notifications-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for notification actions */
.notifications-actions {
  display: flex;
  gap: 10px;
}

/* Styling for links */
