button {
  border-radius: 10px;
  background-color: #EE9C22;
  color: white;
  padding: 10px;
  border-style: none;
}

.chat-button-container {
  display: flex;
  justify-content: space-between;
  width: 48%;
  margin: 0 auto;
}

.chat-button-container link{
  display: flex;
  justify-content:center;
  align-items: center;
}
