.button {
  border-radius: 8px;
  background-color: #EE9C22;
  color: white;
  padding: 8px;
  border-style: none;
  margin-top: 8px;
}

.chat-button-container {
  display: flex;
  justify-content: space-between;
  width: 42%;
  margin: 0 auto;
}

.chat-button-container link{
  display: flex;
  justify-content:center;
  align-items: center;
}
