button {
  border-radius: 10px;
  background-color: #097176;
  color: white;
  padding: 10px;
  border-style: none;
}

.chat-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
