.notification {
  display: flex;
  align-items: center;
  margin: 8px;
  background: white;
  padding: 8px 4px;
  border: 1px solid rgb(235,235,235);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  img {
    margin-right: 12px;
  }
}

a {
  text-decoration: none;
  color: #0B8D93;
}
.notification .notification-content {
  flex-grow: 1;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.notification-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.message-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#notification-timestamp {
  text-align: right;
}
