.notification {
  display: flex;
  align-items: center;
  margin: 8px;
  background: #d3d0d0;
  padding: 8px 4px;
  border: 1px solid #d3d0d0;
  box-shadow: 1.5px 1px 5px rgba(0, 0, 0, 0.4);
  img {
    margin-right: 12px;
  }
}

.text-chatroom {
  color: #07474B;
}

a {
  text-decoration: none;
  font-family: Roboto;
}

.notification .notification-content {
  flex-grow: 1;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.notification-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.message-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#notification-timestamp {
  text-align: right;
}

@media (min-width: 550px) {
  .notification-content {
    flex-direction: row;
    align-items: center;
  }
  .notification-content p {
    order: 1;
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
  }
  .avatar {
    order: 0;
  }
  #notification-timestamp {
    order: 2;
    margin-left: auto;
  }
  .fa-solid {
    order: 3;
  }
}
