<h2>My Dashboard</h2>
<h3>welcome <%= current_user.username %> :)</h3>
<ul>
<li>My Events</li>
<li>My Messages</li>
<li>Upcoming Events</li>
<li>Past Events</li>
<li>Customer Support</li>
<li>Notifications</li>
</ul>
